{
  "currentThemeName": "custom",
  "currentThemeCategory": "registry",
  "customThemeFile": "/home/bimbal/.config/DankMaterialShell/themes/catppuccin/theme.json",
  "registryThemeVariants": {
    "flexoki": "orange",
    "rosePine": "dawn",
    "catppuccin": {
      "flavor": "mocha",
      "accent": "peach"
    }
  },
  "cornerRadius": 12,
  "clockFormat": "24h",
  "barElevationEnabled": false,
  "waveProgressEnabled": false,
  "clockDateFormat": "MM/dd",
  "appLauncherGridColumns": 6,
  "spotlightSectionViewModes": {
    "plugin_emojiLauncher": "list"
  },
  "dankLauncherV2ShowFooter": false,
  "weatherEnabled": false,
  "networkPreference": "wifi",
  "cursorSettings": {
    "theme": "System Default",
    "size": 24,
    "niri": {
      "hideWhenTyping": false,
      "hideAfterInactiveMs": 0
    },
    "hyprland": {
      "hideOnKeyPress": false,
      "hideOnTouch": false,
      "inactiveTimeout": 0
    },
    "dwl": {
      "cursorHideTimeout": 0
    }
  },
  "monoFontFamily": "JetBrainsMono Nerd Font Mono",
  "acMonitorTimeout": {{ if eq .chezmoi.hostname "PHOENIX-PCLIN01" }}1800{{ else if eq .chezmoi.hostname "PHOENIX-LTLIN01" }}900{{ end }},
  "acLockTimeout": {{ if eq .chezmoi.hostname "PHOENIX-PCLIN01" }}900{{ else if eq .chezmoi.hostname "PHOENIX-LTLIN01" }}300{{ end }},
  "acSuspendTimeout": 7200,
  "batteryMonitorTimeout": 900,
  "batteryLockTimeout": 300,
  "batterySuspendTimeout": 1800,
  "fadeToLockEnabled": false,
  "matugenTemplateGhostty": false,
  "matugenTemplateKitty": false,
  "matugenTemplateFoot": false,
  "matugenTemplateAlacritty": false,
  "matugenTemplateWezterm": false,
  "matugenTemplateVscode": false,
  "modalDarkenBackground": false,
  "maxFprintTries": 3,
  "lockScreenNotificationMode": 2,
  "notificationPopupPosition": -1,
  "osdPowerProfileEnabled": true,
  "displayNameMode": "model",
  "screenPreferences": {
    "wallpaper": [
      "all"
    ]
  },
  "barConfigs": [
    {
      "id": "default",
      "name": "Main Bar",
      "enabled": true,
      "position": 0,
      "screenPreferences": [
        "all"
      ],
      "showOnLastDisplay": true,
      "leftWidgets": [
        {
          "id": "cpuTemp",
          "enabled": true
        },
        {
          "id": "memUsage",
          "enabled": true,
          "showSwap": false,
          "minimumWidth": true
        },
        {
          "id": "music",
          "enabled": true
        },
        {
          "id": "focusedWindow",
          "enabled": true,
          "focusedWindowCompactMode": true
        }
      ],
      "centerWidgets": [
        {
          "id": "clock",
          "enabled": true
        },
        {
          "id": "workspaceSwitcher",
          "enabled": true
        },
        {
          "id": "dankPomodoroTimer",
          "enabled": true
        }
      ],
      "rightWidgets": [
        {
          "id": "systemTray",
          "enabled": true
        },
        {
          "id": "clipboard",
          "enabled": true
        },
        {
          "id": "notificationButton",
          "enabled": true
        },
        {
          "id": "controlCenterButton",
          "enabled": true
        }{{ if eq .chezmoi.hostname "PHOENIX-LTLIN01" }},
        {
          "id": "battery",
          "enabled": true
        }{{ end }}
      ],
      "spacing": 0,
      "innerPadding": 4,
      "bottomGap": -5,
      "transparency": 0,
      "widgetTransparency": 0.65,
      "squareCorners": false,
      "noBackground": false,
      "gothCornersEnabled": false,
      "gothCornerRadiusOverride": false,
      "gothCornerRadiusValue": 12,
      "borderEnabled": false,
      "borderColor": "surfaceText",
      "borderOpacity": 1,
      "borderThickness": 1,
      "fontScale": 1,
      "autoHide": false,
      "autoHideDelay": 250,
      "openOnOverview": true,
      "visible": true,
      "popupGapsAuto": true,
      "popupGapsManual": 4,
      "widgetOutlineEnabled": false
    }
  ],
  "desktopClockCustomColor": {
    "r": 1,
    "g": 1,
    "b": 1,
    "a": 1,
    "hsvHue": -1,
    "hsvSaturation": 0,
    "hsvValue": 1,
    "hslHue": -1,
    "hslSaturation": 0,
    "hslLightness": 1,
    "valid": true
  },
  "systemMonitorCustomColor": {
    "r": 1,
    "g": 1,
    "b": 1,
    "a": 1,
    "hsvHue": -1,
    "hsvSaturation": 0,
    "hsvValue": 1,
    "hslHue": -1,
    "hslSaturation": 0,
    "hslLightness": 1,
    "valid": true
  },
  "builtInPluginSettings": {
    "dms_settings_search": {
      "trigger": "?"
    }
  },
  "launcherPluginVisibility": {
    "emojiLauncher": {
      "allowWithoutTrigger": false
    },
    "dms_settings_search": {
      "allowWithoutTrigger": false
    }
  },
  "configVersion": 18
}
