// Resolution, scale, positions are managed by `kanshi`. See `~/.config/kanshi/config`.
// Run `niri msg outputs` to see all available outputs.

{{- if eq .chezmoi.hostname "PHOENIX-PCLIN01" }}
{{- else if eq .chezmoi.hostname "PHOENIX-LTLIN01" }}
output "ASUSTek COMPUTER INC VG34VQL3A S3LMDW009542" {
  layout {
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }
  }
}
{{- end }}
