input {
    workspace-auto-back-and-forth
}

workspace "Home"
workspace "Chat" {
    layout {
        center-focused-column "always"
    }
}
workspace "Work (Project 1 - Browser)"
workspace "Work (Project 1 - IDE)"
workspace "Work (Project 1 - Build)"
workspace "Work (Project 2 - Browser)"
workspace "Work (Project 2 - IDE)"
workspace "Work (Project 2 - Build)"
workspace "Gaming"

window-rule {
    match app-id="Ferdium"
    match app-id="Slack"

    open-on-workspace "Chat"
    open-focused true
    default-column-width { proportion 0.75; }
}
window-rule {
    match app-id="steam" title="Steam"
    match app-id="vivaldi-stable"

    open-on-workspace "Gaming"
    open-focused true
    open-maximized-to-edges true
}
