#:schema https://yazi-rs.github.io/schemas/keymap.json

[mgr]
prepend_keymap = [
  # ---------------- General ----------------
  { on = "A", run = "create --dir", desc = "Create a directory" },
  { on = "<Space>", run = "toggle", desc = "Toggle the current selection state" },
  # Linux (Wayland) only
  {
    on = "y",
    run = ['shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list', "yank"],
    desc = "Copy selected files to the system clipboard while yanking",
  },
  { on = "p", run = "plugin smart-paste", desc = "Paste into the hovered directory or CWD" },
  { on = "P", run = "paste", desc = "Paste to the current directory" },
  # Tab
  { on = ["<C-t>"], run = "tab_create --current", desc = "Create a new tab in CWD" },
  { on = ["t", "h"], run = "tab_switch -1 --relative", desc = "Switch to previous tab" },
  { on = ["t", "l"], run = "tab_switch 1 --relative", desc = "Switch to next tab" },
  { on = "<C-q>", run = "close", desc = "Close the current tab, or quit if it's last" },
  # Goto
  { on = ["g", "s"], run = "cd ~/Pictures/Screenshots/", desc = "Go to Screenshots" },
  {
    on = ["g", "w"],
    {{- if eq .chezmoi.hostname "PHOENIX-PCLIN01" }}
    run = "cd /mnt/SSD/Media/Images/_Wallpapers/Linux/",
    {{- else if eq .chezmoi.hostname "PHOENIX-LTLIN01" }}
    run = "cd /mnt/Data/Media/Images/_Wallpapers/Linux/",
    {{- end }}
    desc = "Go to Wallpapers",
  },

  # ---------------- Plugins ----------------
  { on = ["c", "r"], run = "plugin path-from-root", desc = "Copy path from git root" },
  { on = "z", run = "plugin zoxide", desc = "Jump to a directory via zoxide" },
  { on = "<C-p>", run = "plugin fzf", desc = "Jump to a file/directory via fzf" },
  { on = "M", run = "plugin toggle-pane max-preview", desc = "Maximize or restore the preview pane" },
  { on = "E", run = "plugin mount", desc = "Open mount manager" },
  { on = ["c", "m"], run = "plugin chmod", desc = "Chmod on selected files" },
  { on = ["i", "s"], run = "plugin what-size", desc = "Calc size of selection or cwd" },
  {
    on = ["c", "w"],
    run = 'shell -- awww img "$0"; dms ipc call wallpaper set "$0"',
    desc = "Change wallpaper using `awww`",
  },
  # DuckDB (temporarily disable as it's always stuck at 99% while prefetching)
  # { on = "H",         run = "plugin duckdb -1", # desc = "Scroll one column to the left" }
  # { on = "L",         run = "plugin duckdb +1", # desc = "Scroll one column to the right" }
  # { on = ["g", "o"],  run = "plugin duckdb -open", # desc = "open with duckdb" }
  # { on = ["g", "u"],  run = "plugin duckdb -ui", # desc = "open with duckdb ui" }
  # Dedups
  { on = ["<A-J>", "i"], run = "plugin dupes interactive", desc = "Run dupes interactive" },
  { on = ["<A-J>", "o"], run = "plugin dupes override", desc = "Run dupes override" },
  { on = ["<A-J>", "d"], run = "plugin dupes dry", desc = "Run dupes dry" },
  { on = ["<A-J>", "a"], run = "plugin dupes apply", desc = "Run dupes apply" },
]
